<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">alowemusicbrowser</h3>
</div>
  <div class="row">
    <div class="col-md-4 tag-list" ng-repeat="taglist in tags.lists">
      <h3>{{taglist.title}}</h3>
      <ul class="nav nav-pills nav-stacked" ng-repeat="tag in taglist.list">
        <li ng-class="{active: activeTags[tag] == true}"><a ng-click="updateTagList(tag)">{{tag | limitTo: 1 | uppercase}}{{tag | limitTo:(-tag.length + 1)}}</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 track-thumbnail" ng-repeat="track in sortedTracks">
      <div class="thumbnail">
        <img ng-src="{{track.artwork_url || track.user.avatar_url}}" />
        <div class="caption">
	  <h3><a ng-href={{track.permalink_url}} target="new">{{track.title}}</a></h3>
          <p>{{track.description}}</p>
        </div>
      </div>
    </div>
  </div>
<div class="footer">
  <p>&copy; A. Lowe</p>
</div>
